@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-background;
  font-family: 'Inter', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: aliceblue;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
